<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coffee Heroes</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <header class="hero-header">
    <div class="auth-buttons">
        <a href="#login" class="auth-btn">Увійти</a>
        <a href="#register" class="auth-btn register">Зареєструватися</a>
    </div>
      
    <div class="overlay"></div>
    <div class="header-content">
      <h1>Coffee Heroes</h1>
      <p>Найкраща кава — лише для справжніх героїв</p>
      <nav>
        <ul class="nav-menu">
          <li><a href="#menu">Меню</a></li>
          <li><a href="#about">Про нас</a></li>
          <li><a href="#reviews">Відгуки</a></li>
        </ul>
      </nav>
      <a href="#menu" class="btn">Переглянути меню</a>
    </div>
  </header>

<script src="../static/script.js"></script>
<header class="hero-header">
  <div class="auth-buttons">
      <a href="login.html" class="auth-btn">Увійти</a>
      <a href="register.html" class="auth-btn register">Зареєструватися</a>
  </div>
  
</body>
</html>
