<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coffee Heroes</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  
  <header class="hero-header">
    {% include 'authbtns.html' %}

    <div class="overlay"></div>
    <div class="header-content">
      <h1>Coffee Heroes</h1>
      <p>Найкраща кава — лише для справжніх героїв</p>
      <nav>
        <ul class="nav-menu">
          <li><a href="{{ url_for('menu') }}">Меню</a></li>
          <li><a href="{{ url_for('about') }}">Про нас</a></li>
          <li><a href="{{ url_for('reviews') }}">Відгуки</a></li>
        </ul>
      </nav>
      <a href="{{ url_for('menu') }}" class="btn">Переглянути меню</a>
    </div>
  </header>

  {% include 'modals.html'%}

  <div id="flash-container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  
    {% for field, errors in registration_form.errors.items() %}
      {% for error in errors %}
        <div class="flash-message">{{ error }}</div>
      {% endfor %}
    {% endfor %}
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
